body{
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
   
}

.table{
    font-size: 14px;

    font-style: normal; font-weight: 400; line-height: 20px; 
}
.table  thead{
    background-color: #404040; color: #f1f1f1; text-transform: uppercase;
    font-weight: 200; font-style: normal;
}
.table  tbody tr{
    cursor: pointer;
}
.table  tbody tr:nth-child(even){
    background-color: #f1f1f1;
}