body {
    background: #E5E5E5;
    margin-left: 25px;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 16px;
}


.login_form {

    border: 1px solid #b1a9a9;
    border-radius: 100px 2px 50px 20px;
    background: #f1f1f1;
    min-height: 550px;
    padding: 40px;
    padding-top: 120px;
}

.login-header-text {
    text-align: center;
}

.login_container {
    /* margin-top: 10%; */
    margin-top: 80px;
}

.image-logo-box-top,
.image-logo-box-bottom {
    display: block;
    height: 60px;
    overflow: hidden;
}

.image-logo-box-top img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;

}



.image-logo-box-bottom img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -110px;

}

.image-logo-box {
    /* margin: auto; 
     background: #000;    */
    display: block;
}

.image-logo-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    /* width: 250px;  */
}


.login-btn {
    width: 100%;
}

.button-login-icon {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    color: #fff;
}


.login-user-icon {
    font-size: 95px;
    position: absolute;
    margin-left: 20%;
    margin-top: -150px;
    color: #141614;
}

.div-right-main {

    border: 1px solid #b1a9a9;

    background: #f1f1f1;
    height: 500px;
    padding: 40px;
    padding-top: 120px;
    margin-left: 10px;
}