.image-logo-box{
    /* margin: auto; 
     background: #000;    */
     display: block;
}
.image-logo-box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

.login_form{
    margin: 10px;
    border-left: 1px solid #000;
}
.login-header-text{
    text-align: center;
}
.login_container{
    margin-top: 10%;
}
.image-logo-box-top ,.image-logo-box-bottom{
    display: block;  height: 60px; overflow: hidden;
}
.image-logo-box-top img{
    display: block;
    margin-left: auto;
    margin-right: auto;  margin-top: -5px;
   
}

.image-logo-box-bottom img{
    display: block;
    margin-left: auto;
    margin-right: auto;  margin-top: -110px;
   
}