body{
    background: #E5E5E5; margin-left: 25px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.login_form{
    
    border: 1px solid #000;
     border-radius: 30px; 
    background: #fff; height: 600px;
    padding: 10px;
}
.login-header-text{
    text-align: center;
}
.login_container{
    margin-top: 10%;
}
.image-logo-box-top ,.image-logo-box-bottom{
    display: block;  height: 60px; overflow: hidden;
}
.image-logo-box-top img{
    display: block;
    margin-left: auto;
    margin-right: auto;  margin-top: -5px;
   
}

.image-logo-box-bottom img{
    display: block;
    margin-left: auto;
    margin-right: auto;  margin-top: -110px;
   
}

.image-logo-box{
    /* margin: auto; 
     background: #000;    */
     display: block;
}
.image-logo-box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    /* width: 250px;  */
}
