.sidebar
{
    margin: 0px; 
    min-height: 700px; 
    
     position: relative;  
    text-align: center;
    background-color: black; margin-left: -10px; border-left: 0px;
   
}
.sidebar ul{
    list-style: none;
    margin: 0px;
    padding: 4px; 
  width: 50px;; margin: auto;
     
}

.sidebar ul  li {
    margin: 0px;
    padding: 0px; 
    border-radius: 5px; background-color: antiquewhite; width: 30px; margin: auto;
    margin-bottom: 20px; 
}

.sidebar ul  li img{
    width: 30px;
}