/* Sidebar.css */
.sidebar {
  width: 200px;
  height: 100%;
  background-color: #8f9396;
  color: white;
  transition: width 0.3s;
  overflow: hidden;
  position: relative;
  margin-left: -25px;
  padding: 0px; 
}

.collapsed {
  width: 50px;

}

.toggle-button {

  color: #fff !important;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  min-height: 42px;
  margin-left: -10px;
}

.toggle-button {
   background-color: #FFF;  color: #000 !important; font-weight: 600; text-align: center;
}
.toggle-button img{
  width: 30px;
}
.sidebar ul {
  padding: 0px;
  ;
}

.sidebar ul li {
  list-style: none;
  left: 0;
  padding: 5px;
  width: 110%;
  margin-left: 0px; text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
  

}

.sidebar ul li a {

  color: #eee;
  font-size: 14px !important; 
  padding: 10px; padding-bottom: 20px;
}

ul li:hover {
  background-color: #444;
}

.sidebar li a:hover {

  text-decoration: none;
}

.sidebar ul li:hover a {
  text-decoration: none;
}